/**********************
Colors
Pink - C6006d
Dark Grey - 5c6468
Light Grey - d9d9d9
**********************/

/* Base Style Elements */ 

* {
	box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
    margin: 0 auto;
    color: #5c6468;
    }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
    
}
h2,
h3,
a {
	color: #c6006b;
}

a {
	text-decoration: none;
}
.mainLogo {
	max-width: 80%;
    align-self:center;
} 

.mainNav li{
    color: #c6006b;
}

.tagLine {
    font-weight:200;
    font-size: .90em;
    padding-left: 15px;
}
footer{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #c6006d;
}
.footerIcons{
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin: 20px auto;
}
.siteBy{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom:0;
    background-color: white;
}
.siteBy p{
    margin: 2px 0 0 0;
}
.promotionalLink{
	font-size: .5em;
	color: white;
}
.promotionalLink:hover{
	color: white;
}


/************
NAVIGATION
**************/ 
.navList a {
    padding: 0 15px;
    font-weight: bold;
    font-size: 1.35em;
}
.navList{
    padding-top: 25px;
}

.mainNav,
.navList{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap:wrap;
}

.mainNav{
    width: 100%;
}
.tagLine{
    border-bottom: solid #c6006d 3.5px;
}
.contactP{
    color: #c6006d;
}


/****************
FlexBox Content Layout
******************/

.mainContent{
    display: flex;
    flex-wrap:wrap;
    flex: 1 0 auto;
    margin: 2% auto;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    }

.content{
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    flex: 1 30%;
    margin: 1em;
    box-shadow: 0 0 8px #d3d3d3;
    border-radius: 10px;
}
.whyCGB{
    flex: 1 100%;
    box-shadow: 0 0 0;
}

.profile img{
    max-width: 280px;
    border-radius: 10px;
}


@media (max-width: 800px){
    .mainContent{
        flex-direction: column;
        justify-content: center;
    }
    .about.content{
        flex: 1 100%;
    }
    .profile{
        flex: 1 100%;
    }
    .whyCGB{
    flex: 1 100%;
    box-shadow: 0 0 8px #d3d3d3;
}
    .mainNav{
        justify-content:center;
    }
    .tagLine{
        text-align:center;
    }
    .footerIcons{
        width:80%;
    }
    .siteBy p{
        font-size:.8em;
    }
    
    
}


