/****************************
Color: 
#f7404a
Fonts:
font-family: 'Candal', sans-serif;
font-family: 'Cantarell', sans-serif;

******************************/
body{
	font-family: 'Cantarell', sans-serif;
	color: dimgrey;
}
h1, h2, h3{
	font-family: 'Candal', sans-serif;
	color: #2BDFE5;
	text-align:center;
}
p{
	line-height: 1.8;
}
ul{
	list-style: none;
	padding: 0;
}
.content a{
	text-decoration: none;
	color: #2BDFE5;
}
header{
	background: linear-gradient(#1aa1b1, #2de5ea);
	width: 100%;
	padding: 1rem 0 5rem;
}
.headerInner{
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	margin: 0 auto;
}
.companyName{
	font-size: 5rem;
	color: white;
	margin-top:0;
	text-align:left;
}
.tagLine{
	align-self:center;
	font-size: 1.5rem;
	padding-left: 60px;
	color: white;
	text-align: left;
	font-family: 'Cantarell', sans-serif;
}
.mainContent{
	width: 80%;
	margin: 0 auto 50px;
	display: flex;
	justify-content: space-between;
	
}
.mainContent, .whyCGB, .aboutContent{
	max-width: 1500px;
}
.content{
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0px #d3d3d3;
	text-align:center;
	display: flex;
	flex: 1 30%;
	flex-direction:column;
	margin: -80px 20px 20px;
	padding: 30px 10px;
	transition: all .3s ease-in-out;
}

.content:hover{
	transform: scale(1.1);
}
.services{
	order: 2;
}
.contact{
	order: 3;
}
.hideme{
	opacity:0;
}
.whyCGB, .aboutContent{
	height: 400px;
	max-width: 1500px;
}
.whyCGBInner{
	width: 50%;
	margin: 0 auto;
	font-size:1.2em;
}

.aboutContent{
	margin-bottom:100px;
	}

.innerAbout{
	display: flex;
	justify-content:space-between;
	width: 80%;
	margin: 0 auto;
}

.about{
	padding: 0 4rem;
	align-self:center;
	font-size:1.2em;
}

.about h2{
	text-align:left;
}
.profile{
	align-self:center;
}
.profile img{
	max-width: 200px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0px #d3d3d3;
	border-top: 1px solid #f4f4f4;
}

footer{
	display: flex;
	justify-content: space-between;
	background-color: #2BDFE5;
	color: white;
	margin-top:40px;
}

.footerLinks{
	font-size: 1em;
	font-family: 'Candal', sans-serif; 
	display:flex;
	width: 100%;
	justify-content: space-around;
	
}
.footerLinks p{
	padding-left: 15px;
	padding-right: 15px;
}

.links{
	position: relative;
	text-decoration: none;
	color: white;
}

.links:hover{
	color: white;
}

.links:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: all .3s ease-in-out 0s;
}

.links:hover:before{
	visibility: visible;
	transform: scaleX(1);
}
.copyright{
	padding: 60px 10px 4px 10px;
	font-size: .9em;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.copyright img{
	box-shadow:none;
	background-color: #2BDFE5;
	border-radius: 0;
	border-top: none;
}
.copyright p{
	font-size:.9em;
	align-self:center;
}

.aboveFooter{
	width: 40%;
	height: 120px;
	margin-left: -40px;
	margin-bottom: -120px;
	background-color: #2BDFE5;
	border-radius: 50px;
}
.headerInner{
	animation-name: slideup;
	animation-delay: .2s;
	animation-duration: 2s;
}


@keyframes slideup {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}


@media(max-width:1200px){
	.whyCGBInner{
		width: 70%;
	}
	.footerLinks{
		width: 80%;
		margin: 0 auto;
	}
	.footerLinks p{
		padding: 0;
	}
}
@media(max-width:950px){
	.headerInner{
		max-width: 96%;
	}
	.companyName{
		font-size: 4rem;
	}
	.tagLine{
		padding-left: 20px;
		font-size: 1.2rem;
	}
	.mainContent{
		width: 100%;
	}
	.about{
		padding: 0 20px 0 0;
	}
	.innerAbout{
		width: 70%;
	}
	.whyCGB, .aboutContent{
		height: 100%;
	}
	.aboveFooter{
		width: 60%;
	}
}
@media(max-width:950px){
	.showme{
		opacity: 1;
	}
}

@media(max-width:800px){
	.mainContent{
		flex-wrap: wrap;
	}
	.content{
		margin: 20px;
	}
	
	.services, .pricing{
		margin-top: -60px;
	}
	.contact{
		border-top: 1px solid #f4f4f4;
	}
	.innerAbout{
		flex-direction: column;
		justify-content:center;
	}
	.about h2{
		text-align:center;
	}
	.about{
		padding: 0;
	}
	
}

@media(max-width:690px){
	.companyName{
		font-size: 3rem;
	}
	.tagLine{
		padding-left: 20px;
		font-size: 1em;
	}
	.aboveFooter{
		width: 90%;
	}
	.content:hover{
		transform: scale(1);
	}
	.services{
		order: -1;
}
	
}


@media(max-width:585px){
	.headerInner{
		flex-wrap: wrap;
	}
	.mainContent{
		flex-direction: column;
		justify-content: center;
		margin-bottom: 0;
	}
	.pricing{
		margin: 20px;
		border-top: 1px solid #f4f4f4;
	}
	.whyCGBInner, .innerAbout{
		width: 90%;
		font-size: 1em;
	}
	.about{
		font-size: 1em;
	}
	footer{
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
	.copyright{
		text-align:center;
	}
	.copyright img{
		float:none;
	}
	.footerLinks p{
		padding: 0 20px;
	}
	.footerLinks{
		width: 100%;
		margin: 0 auto;
		justify-content: center;
	}
	.copyright{
		flex-wrap: wrap;
		justify-content: center;
	}
	.aboveFooter{
		width: 100%;
	}
}
@media(max-width:420px){
	.aboveFooter{
		margin-left: 0;
		border-radius: 0;
	}
	.companyName{
		font-size: 2.5rem;
	}
}
















